.elementor-13 .elementor-element.elementor-element-75c63a8{--display:flex;--min-height:1381px;--background-transition:0.3s;}.elementor-13 .elementor-element.elementor-element-75c63a8:not(.elementor-motion-effects-element-type-background), .elementor-13 .elementor-element.elementor-element-75c63a8 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-secondary );}.elementor-13 .elementor-element.elementor-element-75c63a8, .elementor-13 .elementor-element.elementor-element-75c63a8::before{--border-transition:0.3s;}.elementor-13 .elementor-element.elementor-element-ac184b7{--spacer-size:50px;}.elementor-13 .elementor-element.elementor-element-51616db .elementor-heading-title{color:#FFFFFF;font-family:"Syne", Sans-serif;font-weight:800;}.elementor-13 .elementor-element.elementor-element-51616db > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-13 .elementor-element.elementor-element-51616db.elementor-element{--align-self:center;}.elementor-13 .elementor-element.elementor-element-e8ce1fd{--spacer-size:50px;}.elementor-13 .elementor-element.elementor-element-9262797{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:2px;}.elementor-13 .elementor-element.elementor-element-9262797 .elementor-divider-separator{width:100%;}.elementor-13 .elementor-element.elementor-element-9262797 .elementor-divider{padding-block-start:15px;padding-block-end:15px;}.elementor-13 .elementor-element.elementor-element-7caa34c{--display:flex;--background-transition:0.3s;}.elementor-13 .elementor-element.elementor-element-f676119{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-13 .elementor-element.elementor-element-b781efc{--display:flex;--background-transition:0.3s;}.elementor-13 .elementor-element.elementor-element-95da5ea > .elementor-widget-container{margin:-21px -21px -21px -21px;}.elementor-13 .elementor-element.elementor-element-95da5ea.elementor-element{--align-self:center;}.elementor-13 .elementor-element.elementor-element-d2cab88{--display:flex;--background-transition:0.3s;}.elementor-13 .elementor-element.elementor-element-d981967 > .elementor-widget-container{margin:-21px -21px -21px -21px;}.elementor-13 .elementor-element.elementor-element-d981967.elementor-element{--align-self:center;}.elementor-13 .elementor-element.elementor-element-c9027d1{--display:flex;--background-transition:0.3s;}.elementor-13 .elementor-element.elementor-element-186165b > .elementor-widget-container{margin:-21px -21px -21px -21px;}.elementor-13 .elementor-element.elementor-element-186165b.elementor-element{--align-self:center;}.elementor-13 .elementor-element.elementor-element-b9c9ce6{--display:flex;--background-transition:0.3s;}.elementor-13 .elementor-element.elementor-element-fbd46ee > .elementor-widget-container{margin:-21px -21px -21px -21px;}.elementor-13 .elementor-element.elementor-element-fbd46ee.elementor-element{--align-self:center;}.elementor-13 .elementor-element.elementor-element-1d272dd{--divider-border-style:solid;--divider-color:#FFFFFF;--divider-border-width:2px;}.elementor-13 .elementor-element.elementor-element-1d272dd .elementor-divider-separator{width:100%;}.elementor-13 .elementor-element.elementor-element-1d272dd .elementor-divider{padding-block-start:2px;padding-block-end:2px;}.elementor-13 .elementor-element.elementor-element-b6f32fd{--display:flex;--background-transition:0.3s;}:root{--page-title-display:none;}@media(max-width:767px){.elementor-13 .elementor-element.elementor-element-51616db .elementor-heading-title{font-size:25px;}.elementor-13 .elementor-element.elementor-element-51616db > .elementor-widget-container{margin:0100px 0px 0px 0px;}}/* Start custom CSS for image, class: .elementor-element-c68722e */.elementor-13 .elementor-element.elementor-element-c68722e {
  display: flex;
  flex-direction: row;
}

.elementor-13 .elementor-element.elementor-element-c68722e input[type="number"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-95da5ea */.elementor-13 .elementor-element.elementor-element-95da5ea div[style="border"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
.elementor-13 .elementor-element.elementor-element-95da5ea div[style="border"] input[type="number"]{
  width: 40%;
  height: 50%;
  padding: 5px;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-74efc0f */.elementor-13 .elementor-element.elementor-element-74efc0f {
  display: flex;
  flex-direction: row;
}

.elementor-13 .elementor-element.elementor-element-74efc0f input[type="number"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-d981967 */.elementor-13 .elementor-element.elementor-element-d981967 div[style="border"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
.elementor-13 .elementor-element.elementor-element-d981967 div[style="border"] input[type="number"]{
  width: 40%;
  height: 50%;
  padding: 5px;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-0f9e9f8 */.elementor-13 .elementor-element.elementor-element-0f9e9f8 {
  display: flex;
  flex-direction: row;
}

.elementor-13 .elementor-element.elementor-element-0f9e9f8 input[type="number"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-186165b */.elementor-13 .elementor-element.elementor-element-186165b div[style="border"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
.elementor-13 .elementor-element.elementor-element-186165b div[style="border"] input[type="number"]{
  width: 40%;
  height: 50%;
  padding: 5px;
}/* End custom CSS */
/* Start custom CSS for image, class: .elementor-element-0adf618 */.elementor-13 .elementor-element.elementor-element-0adf618 {
  display: flex;
  flex-direction: row;
}

.elementor-13 .elementor-element.elementor-element-0adf618 input[type="number"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-fbd46ee */.elementor-13 .elementor-element.elementor-element-fbd46ee div[style="border"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
.elementor-13 .elementor-element.elementor-element-fbd46ee div[style="border"] input[type="number"]{
  width: 40%;
  height: 50%;
  padding: 5px;
}/* End custom CSS */